/* borrowed from http://my.studiopress.com/snippets/author-box */
.satd-archive-description {background-color: #f5f5f5;border: 1px solid #ddd;margin: 0 0 40px;overflow: hidden;padding: 10px} 
.satd-author-name {font-size: 26px}
.satd-arch-content, .satd-author-desc {font-size: 14px}
.satd-gravatar {float:left;padding-right:10px}